<h1>My Blog</h1>

<% @blog_posts.each do |blog_post| %>
  <div>
    <%= image_tag blog_post.cover_image if blog_post.cover_image.present? %>
    <h2><%= link_to blog_post.title, blog_post %></h2>
    <% if blog_post.draft? %>
      <div class="p-2 rounded bg-gray-100 text-gray-900">Draft</div>
    <% elsif blog_post.scheduled? %>
      <div class="p-2 rounded bg-blue-100 text-blue-900">Scheduled</div>
    <% end %>
    <%= blog_post.content %>
  </div>
<% end %>

<% if @pagy.count > @pagy.items %>
  <div class="my-16">
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>